<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is Home Page</h1>
    <p>Available functionalities :-</p><br>
    <a href="/pdf2word/">Pdf to Word</a><br>
    <a href="/word2pdf/">Word to Pdf</a><br>
    <a href="/video2audio/">Video to Audio</a><br>
    <a href="/speech2text/">Speech to text</a><br>
</body>
</html>